<div class="container">
        
    <div class="card o-hidden border-0 shadow-lg my-5">

        <div class="row">  

            <form action="" class="user" class="p-5" [formGroup]="patientForm" (ngSubmit)="savePatient()">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nom du patient</label>
                            <input type="text" class="form-control" formControlName="name"
                            placeholder="Nom du patient">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prenom du patient</label>
                            <input type="text" class="form-control" formControlName="prenom"
                            placeholder="Prenom du patient">
                        </div>
                        <div class="form-group">
                            <label for="sexe">Sexe</label>
                            <input type="text" class="form-control" formControlName="sexe"
                            placeholder="Sexe du patient">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" formControlName="email"
                            placeholder="Email du patient">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nom d'utilisateur</label>
                            <input type="text" class="form-control" formControlName="username"
                            placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Mot de passe</label>
                            <input type="text" class="form-control" formControlName="password"
                            placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="abonnement">abonnement</label>
                            <input type="text" class="form-control" formControlName="abonnements"
                            placeholder="abonnement">
                        </div>
                        <div class="form-group">
                            <select formControlName="absn">
                                <div *ngFor="let abn of data ">
                                    <option>{{ abn.nom }}</option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </form>
        </div>

    </div>
</div>