    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>POURQUOI CHOISIR BOCOBI?</h3>
                <p>
                  Toute personne se sousciant de son etat de sante devrait choisir BOCOBI tout simplement parcequ'il aide les patients
                  souffrant d'une maladie chronique a mieux gerer leur maladie ameliore l'observance de son traitement'facilite
                  la relation professionnelle de sante-patient...
                </p>
                <div class="text-center">
                  <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Personnel medical</h4>
                      <p>BOCOBI dispose d'un personnel medical tres varie en fontion de vos pathologies et hautement qualifie</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Confidentialité</h4>
                      <p>Les patients pris en charge beneficie d'une securite de leur optimale de leurs données </p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Materiel medical</h4>
                      <p>BOCOBI possede tout l'equipement necessaire pour prendre en charge un patient en cas d'urgence</p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
  