                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-md-9">
                                 <h6 class="m-0 font-weight-bold text-primary">Liste des patients</h6>
                                </div>
                                <div class="col-md-3">
                                    <a href="admin/patients/add" class="btn btn-success">Nouveau Patient</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>email</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>email</th>
                                        </tr>
                                    </tfoot>
                                    <tbody *ngFor="let patient of data ">
                                        <tr>
                                            <td>{{ patient.id }}</td>
                                            <td>{{ patient.name }}</td>
                                            <td>{{ patient.prenom }}</td>
                                            <td>{{ patient.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>